body{
    display: flex;
    justify-content: center;
}
h3{
    text-align: center;
}
img{
    width: 296px;
    border-radius: 10px;
    border: 2px solid black;
}
.card{
    width:300px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.inner-card{
    border: 1px solid rgb(180, 180, 180);
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
.interesting-fact{
    font-style: italic;
    
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
li span{
    font-weight: bold;
    
}